body {
	padding: 0;
}

.jumbotron {
padding:  0 15px;
  }

 section.chart {
 	background: #eee;
 	min-height: 200px;
 	padding: 20px;
 	margin: 15px 0;
 }

 footer {
 	padding: 10px 0;
 	border-top: 1px solid #A9A9A9;
 }