body {
padding: 0;
  font-style: normal;
  font-family:"fira-sans-2", "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";

background: #FDFAFA;
color: #333;
}

p {
    font-size: 1.4em;
  line-height: 1.5;
  font-weight: 400;
  color: #666;
  margin-top: 0.111111em;
}

.navbar-brand {
height: auto;
}

a.navbar-brand {
}

a.navbar-brand img {
max-height: 50px;
}

.navbar-nav {
margin: 10px -25px 0 20px;

}

.navbar-right p {
  padding-top: 10px;
}

span.username {
font-weight: bold;
}

.jumbotron {
padding:  0;
color: #fff;
-webkit-box-shadow: 3px 5px 36px -9px rgba(0,0,0,0.75);
background-color: transparent;
-moz-box-shadow: 3px 5px 36px -9px rgba(0,0,0,0.75);
box-shadow: 3px 5px 36px -9px rgba(0,0,0,0.75);
/*background: transparent url(http://apod.nasa.gov/apod/image/1412/ObsMntsUni_dmitriev_1280.jpg) 0 -550px; */
}



.jumbotron h1 {
  margin-bottom: 10px;
margin-top: 60px;
text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.52);
}


.jumbotron p {
 color: #fff;
text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.52);
}
.index .jumbotron p {
  font-size: 2.3em;
  padding: 165px 0 0 0;
  text-align: center;
  margin: 0 20% 0 20%;
  color: rgb(219, 219, 219);
}

.jumbotron p.nomargin {
  margin-top: 20px;
  padding: 0;

text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.52);
}




.parallax-window {
    min-height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
border-radius: 0;
background-image: url(assets/images/gray.png);
padding: 10px;
margin-bottom: 0;
}

.navbar-default { 
  background-color: transparent;
  background-image: url(assets/images/bg.png);
  border: none; 
  padding: 0 30px;
}

.navbar-default .navbar-brand {
  color: #AEAEAE;
}

.navbar-default .navbar-nav > li > a {
  color: #BEBBBB;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #F0F0F0;
  background-color: #060606;

box-shadow:0px 4px 6px 0px rgba(0, 0, 0, 0.24);
}

h2 button {
margin-left: 15px;
}

section.chart {
background: #fff;
min-height: 200px;
padding: 20px;
margin: 15px 0;
border: 1px solid rgb(231, 229, 229);
}

.chart h3 {
border-bottom: 1px solid #D2D2D2;
padding-bottom: 10px;
margin: 0 0 20px 0;
color: #4C4B4B;
}

.chart p {
color: #4C4B4B;
}

footer {
margin: 20px 0 0 0;
padding: 15px 40px;
font-size: .8em;
background: #ddd;
}

.inputcandidate, .selectcandidate {

}

.inputcandidate {
display: none; }

.selectcandidate {
display: none;
}

.mast {
  padding-bottom: 40px;
}


.mast .col-md-2 {
margin: 15px 0 15px -15px;
width: auto;
float: left;
}

.mast h1, .mast p {
  color: #DBDBDB !important;
}

p.white {
  color: #fff;
  margin-left: 0px;
  font-style: italic;
}

.mast form {
  background: transparent url(assets/images/bg.png);
  padding: 20px;
  border-radius: 5px;
}

.mast form .btn {
  opacity: 1;
}

.col-md-3  {
  min-height: 700px;
}

form h3 {
 padding: 13px 0 20px 0;
 margin-left: -10px;
  font-size: 1.4em;
  background-color: #F4F4F4;
  padding: 7px;
  color: #545050;
}

form label {
  font-weight: normal;
  color: #777373;
}

form input {
  margin-bottom: 10px;
}

.navbar form {
  margin-bottom: 0;
}

.btn-success {
  margin: -10px 0 0;
}

.navbar-form .form-group {
  padding: 0;
  margin: 0;
}

.form-group {
  padding: 10px 0;
}

.middlecol {
  background: rgba(237, 236, 236, 0.65);
}

.largetext {
  font-size: 2em;
}

section.normal {
background: rgb(221, 221, 221);
color: #8E8E8E;
border:none;
}

section.normal img{
  margin: 0 0 10px 0;
  width: 100%;
}

section.green {
  background-color: rgb(207, 242, 207);
}

section.normal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .7em;
}

section.normal li {
  border-bottom: 1px solid #fff;
  font-size: 2em;
  padding: 2px 4px;
}

section.normal li:last-child {
  border-bottom: none;
}

section.alert {
background: red;
color: #fff;
border:none;
box-shadow:0px 4px 6px 0px rgba(0, 0, 0, 0.24);
}

.alert h3, .normal h3 {
color: #fff;
border-bottom: none;
}

.normal h3 {
  color: #443E3E;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.2em;
  line-height: 1.142857;
  font-weight: 200;
  padding-bottom: 8px;
  color: #23619F;
}
h3 {
  font-size: 1.9em;
  line-height: 1.142857;
  font-weight: 200;
  padding-bottom: 8px;
}

select {
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0;
  line-height: 34px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  padding-left: 5px;
}

img.fitwidth {
  max-width: 100%;
}

/*.user .jumbotron, .user .jumbotron h1, .user .jumbotron p {
  color: #000 !important;
}

.user .parallax-window img {
  right: -200px;
}*/

.chart.alert p{
    color: #fff;
}

.mast .form-group label {
  float: left;
  font-weight: bold;
  margin-right: 15px;
  font-size: 1.5em;
}

.mast .form-group select {
width: auto !important;
float: left;
}
